.wrap{
    width: 100%;
    height: 100%;
}
.title{
    width: 95%;
    height: 80px;
    margin: 0 auto;
    font-size: 25px;
    line-height: 80px;
}
.bottom{
    width: 95%;
    height: auto;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    border-left: 1px solid #ccc;
    border-top: 1px solid #ccc;
}
.bottom_Top,.bottom_Bottom{
    display: flex;
    flex-wrap: wrap;
    
}
.bottom_Center{
    width:33.3%;
    border-right: 1px solid #ccc;
    border-bottom: 1px solid #ccc;
    border-radius: 3px;
    padding: 10px;
}
.reset{
    margin-left:10px;
    background: #fff;
    color:#666;
    background-color: #fff;
    border-color: #d9d9d9;
    &:hover{
        border:1px solid #1890ff;
        color:#1890ff;
        background-color: #fff;
    }
}
:global{
    .ant-form-item{
        margin-bottom:15px;
    }
    .ant-radio-button-wrapper:first-child:last-child{
        border-radius:0;
    }
    .ant-radio-button-wrapper:first-child{
        border-radius:0;
    }
    .ant-radio-button-wrapper:last-child{
        border-radius:0;
    }
}