.box{
    width: 100%;
    padding: 20px
}
.p{
    height: 50px;
    line-height: 50px;
    padding-left: 20px
}
.wrap{
    width: 100%;
    background: white;
    border-radius: 12px;
    padding: 20px;
}
.chose{
    height: 80px;line-height: 30px;
}