.title{
    width: 90%;
    height: 80px;
    line-height: 80px;
    font-size: 25px;
    margin: 0 auto;
}
.bottom{
    width: 90%;
    height: 100%;
    margin: 0 auto;
    padding:20px;
    background: #fff;
    border-radius: 10px;
}